<head>
 <%= stylesheet_link_tag "application", :media => "all" %>

  <%= javascript_include_tag  "jquery.slim.min", "tether.min", "bootstrap.min", "pagination" %>
</head>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>



<%= link_to :controller => 'home', :action => 'index' do %>
  <button type="button" class="btn btn-info">Back to Main Menu</button>
<% end %>

<h1>Sales</h1>

<div class="sort_paginate_ajax"><%= render 'sales' %></div>


<script type="text/javascript">
  $(document).ready(function(){
     var width_container = 0;
     


    $("div.pagination").children('span').each(function(i) {
         width_container += (parseFloat($(this).css("width")) + 5 )/2;
    });

   
    $("div.pagination").children('em').each(function(i) {
        width_container += (parseFloat($(this).css("width")) + 5 )/2;
    });


    $("div.pagination").children('a').each(function(i) {
        width_container += (parseFloat($(this).css("width")) + 5 )/2;
    });
  
   var width_test = 0

    $("div.pagination").children().each(function(i) {
        width_test += (parseFloat($(this).css("width")) + 5 )/2;
     });

    $("div.pagination").css("width", width_container);


  });


</script>

